.hjs-context-menu {
    position: absolute;
    background: white;
    border: 1px solid #a1a1a1;
    z-index: 1;
    min-width: 185px;
}

.hjs-context-menu-row-group{
    border-bottom: 1px solid #d6d6d6;
}

.hjs-context-menu-row {
    position: relative;
    background-color: #ffffff;
    display: flex;
    width: 100%;
}

.hjs-context-menu-row.active, .hjs-context-menu-row:hover {
    background-color: #f1f1f1;
}

.hjs-context-menu-row:has(.multi-combo-check-all-div):hover {
    background: white;
}

.hjs-context-menu-label-div {
    flex: 1;
    padding: 0 4px;
}

.hjs-context-menu-has-child {
    min-width: 20px;
    position: relative;
}
.hjs-context-menu-has-child:before {
    content: "";
    display: block;
    height: 30%;
    width: 2px;
    background: #ababab;
    position: absolute;
    top: calc(20% + 1px);
    left: 50%;
    transform: rotate(315deg) translateX(-50%);
}
.hjs-context-menu-has-child:after {
    content: "";
    display: block;
    height: 30%;
    width: 2px;
    background: #ababab;
    position: absolute;
    bottom: calc(20% + 1px);
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
}

.hjs-context-menu-child {
    width: 100%;
    position: absolute;
    top: -1px;
    left: 100%;
    border: 1px solid #a1a1a1;
    background: white;
    flex-direction: column;
}